* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgb(6, 6, 6);
}

.btn {
	background-color: rgb(224, 224, 241);
	padding: 20px 40px;
	box-shadow: 0 2px 4px rgba(218, 187, 187, 0.989);
	border-radius: 5px;
	text-decoration: none;
	color: rgb(0, 0, 0);
	position: relative;
	overflow: hidden;
}
.btn span {
	position: relative;
	z-index: 1;
}

.btn::before {
	content: '';
	position: absolute;
	background-color: rgb(72, 233, 9);
	width: 0;
	height: 0;
	left: var(--xPos);
	top: var(--yPos);
	transform: translate(-50%, -50%);
	border-radius: 50%;
	transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
	width: 300px;
	height: 300px;
}
